.main {
  padding: 12px 40px;
}

.section {
  margin-bottom: 50px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sectionTitle {
  font-size: 36px;
  margin: 6px 0 24px;
  font-weight: bold;
  border-left: 10px solid var(--accent-600);
  padding-left: 15px;
  line-height: 100%;
}
