.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  height: 45px;
  cursor: pointer;
  margin-right: 80px;
}

.topLevelItem {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  text-transform: uppercase;
}

.navLink {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #282c3f;
  letter-spacing: 0.6px;
  margin-right: 40px;
}

.navLink:hover {
  border-bottom: 2px solid #ff3f6c;
}

/* Mega menu */
.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  display: flex;
  padding: 20px;
  gap: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 50;
  min-width: 600px;
}

.superCategoryColumn {
  display: flex;
  flex-direction: column;
}

.superTitle {
  font-weight: 700;
  margin-bottom: 10px;
  color: grey;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryList li {
  margin-bottom: 6px;
}

.categoryList li a {
  text-decoration: none;
  color: #282c3f;
  font-size: 13px;
  color: black;
}

.categoryList li a:hover {
  font-weight: bold;
}

/* Search box */
.searchBox {
  width: 35%;
  position: relative;
  color:#696e79 ;
}

.searchInput {
  width: 100%;
  padding: 8px 20px 8px 45px;
  border: 1px solid #e0e0e0;
  background: #f5f5f6;
  border-radius: 4px;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #696e79;
}

/* Right section */
.right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navItem {
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #2d2d2d;
  font-weight: 600;
}

.icon {
  font-size: 22px;
  display: block;
  margin: 0 auto 2px auto;
}
